{% extends 'base.html' %}

{% url 'edit' %}

{% block content %}
	<h1>Modifying listing number {{alumniModel_id}}'s details ({{ alumni.lastName }})</h1>
	<form class="form-inline my-2 my-lg-0" method="POST">{% csrf_token %}
		<input class="form-control mr-sm-2" type="text" name="lastName" value="{{ alumni.lastName }}">
		<input class="form-control mr-sm-2" type="text" name="firstName" value="{{ alumni.firstName }}">
		<input class="form-control mr-sm-2" type="text" name="gender" value="{{ alumni.gender }}">
		<input class="form-control mr-sm-2" type="text" name="year" value="{{ alumni.year }}">
		<input class="form-control mr-sm-2" type="text" name="course" value="{{ alumni.course }}">
		<input class="form-control mr-sm-2" type="text" name="job" value="{{ alumni.job }}">
		<input class="form-control mr-sm-2" type="text" name="employer" value="{{ alumni.employer }}">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Edit Item Details</button>
	</form>
{% endblock %}